.scores-container {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
}


.column1-1 {
    margin-bottom: 10rem;
}

.column2-1 {
    margin-bottom: 10rem;
    margin-left: 20rem;
}

.column2-2 {
    margin-left: 20rem;
}

html {
    background-color: blue;
}

.row-1{
    background-color: black;
}

.row-2 {
    background-color: black;
}

h2 {
    color: white;
}